
body { font-family:Tahoma; font-size:11px; background-image: url("../images/level-bg-001.jpg");}
h2 { background-color:black; font-size: 20px; color: #FFFFFF; }
h3 { background-color:black; font-size: 12px; color: #FFFFFF; }

.gold { background-color:#cccc00; }
.silver { background-color:#888888; }
.copper { background-color:#cc9933; }

.sumtext { font-size:30px; background: #b20000; border-radius: 0.2em; padding: 0.2em; }
.tabletext { font-size:20px}

.exp {
	  font-size: .6em;
	  line-height: 2em;
	  width: 35em;
	  height: 1.8em;
	  background: #fff;
	}

.hp {
	  color: #b20000;
	  font-size: .6em;
	  line-height: 2em;
	  width: 35em;
	  height: 1.8em;
	  background: #fff;
	}

.mobHp {
	  color: #b20000;
	  font-size: .6em;
	  line-height: 2em;
	  width: 20em;
	  height: 1.8em;
	  background: #fff;
	}

div#overlay {
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}
div#inventoryWindow {
	display: none;
	position: fixed;
	top: 30px;
	left: 100px;
	z-index: 3;
	width: 417px; 
	height: 470px;
	background: #FFF;
	color: #000;
	padding-left:0px;
}
div#inventoryArea {
	position:absolute;
	top: 0px;
	left: 0px;
	padding-left:24px;
}
